<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/AVA.jpeg" alt="Axel" class="img-thumbnail rounded-circle" width="200">
            <h1>Axel Pratama</h1>
            <p>Student | Programmer</p>
        </div>
    </div>
</div>