<h1>Web Server NodeJS</h1>

    <h4>Daftar Mahasiswa</h4>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>Nama : <%= mhs.nama %> </li>
            <li>Email : <%= mhs.email %> </li>
        </ul>
    <% }) %>
    